<div id="main">@(ViewData["status"])@(ViewData["timestamp"])</div> 
<div id="main_name">.$uname.</div>
<div id="main_titel">@(ViewData["titel"])</div>
<div id="main_message">@(ViewData["message"])</div>
<div id="main_phone">@(ViewData["phone"])</div>
<div id="main_email">.$email.</div>
<div id="main_price">@ViewData["price"]</div>
